@{
    ViewData["Title"] = "Home Page";
}
<div class="container px-4 py-5 home-container vh-100">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 h-100">
        <div class="col-lg-6 bg-opacity-50 shadow p-3 mb-5 bg-body rounded intro-panel">
            <h1 class="display-5 fw-bold lh-1 mb-3">Watch movies, shows, and more</h1>
            <p class="lead">Our application is your passport to a universe of captivating stories and cinematic wonders. Immerse yourself in a vast collection of movies and TV shows, carefully curated for every taste and mood. Our user-friendly platform and seamless streaming experience bring the magic of cinema directly to your fingertips.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/login" class="btn btn-primary btn-lg px-4 me-md-2">Get started</a>
            </div>
        </div>
    </div>
</div>

